<!--
    Trying out FIGMA's copy HTML/CSS feature

    Turns out, it works like ass because I'm a shitty designer.
-->
<div class="NavBar" style="width: 400px; height: 1080px; padding: 5px; border: 0.50px black solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
  <div class="Frame1" style="width: 400px; height: 1080px; left: 0px; top: 0px; position: absolute; background: white">
    <div class="Logo" style="width: 400px; height: 136px; left: 0px; top: 0px; position: absolute">
      <div class="Rectangle3" style="width: 400px; height: 136px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div class="Kodielingo" style="width: 342.59px; height: 79px; left: 29px; top: 36px; position: absolute; text-align: center; color: #7783E9; font-size: 60px; font-family: Feather; font-weight: 700; word-wrap: break-word">kodielingo</div>
    </div>
    <div class="Friends" style="width: 551.11px; height: 87px; left: 0px; top: 136px; position: absolute">
      <img class="FriendsIcon" style="width: 70px; height: 50px; left: 45.50px; top: 19px; position: absolute" src="https://via.placeholder.com/70x50" />
      <div class="Friends" style="width: 411.11px; height: 77.94px; left: 140px; top: 6px; position: absolute; color: #333333; font-size: 48px; font-family: Feather; font-weight: 700; word-wrap: break-word">friends</div>
      <div class="FriendsTile" style="width: 400px; height: 87px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 10px"></div>
    </div>
    <div class="Courses" style="width: 400px; height: 87px; left: 7px; top: 287px; position: absolute">
      <img class="CoursesIcon" style="width: 70px; height: 70px; left: 45px; top: 11px; position: absolute" src="https://via.placeholder.com/70x70" />
      <div class="Courses" style="width: 208px; height: 60px; left: 140px; top: 6px; position: absolute; color: #333333; font-size: 48px; font-family: Feather; font-weight: 700; word-wrap: break-word">courses</div>
      <div class="CoursesTile" style="width: 400px; height: 87px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0); border-radius: 10px"></div>
    </div>
    <div class="Settings" style="width: 400px; height: 100px; left: 0px; top: 420px; position: absolute">
      <div class="SettingsTile" style="width: 400px; height: 87px; left: 0px; top: 3px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 10px"></div>
      <div class="Profile" style="width: 220px; height: 60px; left: 146px; top: 17px; position: absolute; color: #333333; font-size: 48px; font-family: Feather; font-weight: 700; word-wrap: break-word">profile</div>
      <div class="ProfileImage" style="width: 100px; height: 100px; left: 35px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0)">
        <div class="Ellipse27" style="width: 75px; height: 75px; left: 12.50px; top: 12.50px; position: absolute; background: rgba(255, 255, 255, 0); border-radius: 9999px; border: 2.50px black solid"></div>
        <div class="Ellipse28" style="width: 30px; height: 30px; left: 35px; top: 26.50px; position: absolute; background: rgba(255, 255, 255, 0); border-radius: 9999px; border: 2.50px black solid"></div>
        <div class="Vector2" style="width: 43.25px; height: 17px; left: 28px; top: 63.25px; position: absolute; border: 2.50px black solid"></div>
      </div>
    </div>
    <div class="Leaderboard" style="width: 366px; height: 104px; left: 18px; top: 522px; position: absolute">
      <div class="Rectangle43" style="width: 366px; height: 104px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div class="Leaderboard" style="left: 129px; top: 44px; position: absolute; color: black; font-size: 36px; font-family: Feather; font-weight: 700; word-wrap: break-word">leaderboard</div>
      <div class="LeaderbaordIcon" style="width: 58px; height: 60px; left: 40px; top: 29px; position: absolute">
        <div class="Rectangle40" style="width: 15px; height: 30px; left: 0px; top: 30px; position: absolute; background: #D9D9D9"></div>
        <div class="Rectangle41" style="width: 15px; height: 60px; left: 20px; top: 0px; position: absolute; background: #D9D9D9"></div>
        <div class="Rectangle42" style="width: 15px; height: 45px; left: 43px; top: 15px; position: absolute; background: #D9D9D9"></div>
      </div>
    </div>
    <div class="Store" style="width: 400px; height: 132px; left: 0px; top: 639px; position: absolute">
      <div class="Rectangle46" style="width: 400px; height: 132px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div class="Store" style="left: 147px; top: 45px; position: absolute; color: black; font-size: 48px; font-family: Feather; font-weight: 700; word-wrap: break-word">Store</div>
      <div class="StoreIcon" style="width: 111px; height: 111px; left: 27px; top: 13px; position: absolute">
        <img class="Untitled2" style="width: 111px; height: 111px; left: 0px; top: 0px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/111x111" />
        <img class="F6a961e4e7b81918595a0809db60105230504am1" style="width: 9.11px; height: 15.50px; left: 39.14px; top: 32.38px; position: absolute; transform: rotate(8deg); transform-origin: 0 0; border-radius: 10px" src="https://via.placeholder.com/9x16" />
      </div>
    </div>
  </div>
</div>
@code {

}
