@using Services
@using Model
@using Data


@inject ClientStateService ClientState
@inject NavigationManager navManager

@inherits LayoutComponentBase

@if(ClientState.User == null)
{
    <h2>You're not logged in. Hit the button to redirect.</h2>
    <button @onclick="Redirect">Ok ig ill do that</button>
}

// Default page layout
else{
<div class="page">
    <div class="sidebar">
        <NavMenu />
        <!--
            Friends page special layout
        -->
        @if (navManager.Uri.Contains("/friends") && !ClientState.OpenNavMenu)
        {
            <h2 style="color:white;">Friends:</h2>
            @foreach (User s in ClientState.User.Friend)
            {
                <div class="flex-fill">
                    <button class="btn btn-light" @onclick="() => RedirectToFriend(s.Username)">
                        @s.Username
                    </button>
                </div>
            }
        }
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
}