@using Services
@using Model
@using Data
@using Microsoft.EntityFrameworkCore

@inject ClientStateService ClientState
@inject NavigationManager navManager
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <!--
            Friends page special layout
        -->
        @if (navManager.Uri.Contains("/friends") && ClientState.OpenNavMenu == false)
        {
            <KodieLingo.Pages.Friends.FriendsSidebar/>
        }
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>