@using Services
@inject ClientStateService ClientState
@inject NavigationManager navManager

@inherits LayoutComponentBase

@code {
    private void Redirect()
    {
        navManager.NavigateTo("/loginsignup");
    }
}

@if(ClientState.User == null)
{
    <h2>You're not logged in. Hit the button to redirect.</h2>
    <button @onclick="Redirect">Ok ig ill do that</button>
}
else{
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
}