/* _content/KodieLingo/Pages/LoginSignup/LoginSignup.razor.rz.scp.css */
body[b-yr3p6iy1k1] {
}
.centered-text[b-yr3p6iy1k1] {
    text-align: center;
    display: flex;
    justify-content: center;
}


h1[b-yr3p6iy1k1] {
    color: #47DC0F;
    font-size: 6rem;
    font-family: "Calibri";
}

button[b-yr3p6iy1k1] {
    color: #47DC0F;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
/* _content/KodieLingo/Pages/LoginSignup/Signup.razor.rz.scp.css */
.centered-text[b-j39121hdyz] {
    text-align: center;
    display: flex;
    justify-content: center;
}
/* _content/KodieLingo/Shared/MainLayout.razor.rz.scp.css */
.page[b-l2lnk6q7ka] {
    position: relative;
    display: flex;
    flex-direction: column;
}

menuToggle[b-l2lnk6q7ka] {
    font-size: 30px;
    border-radius: 4px;
    padding: 10px;
}

main[b-l2lnk6q7ka] {
    flex: 1;
}

/*
    Yo henry here's where you change the background
    Next time, use the inspect tool in your web browser to fin this quickly.
*/
.sidebar[b-l2lnk6q7ka] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-l2lnk6q7ka] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-l2lnk6q7ka]  a, .top-row .btn-link[b-l2lnk6q7ka] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-l2lnk6q7ka] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-l2lnk6q7ka] {
        display: none;
    }

    .top-row.auth[b-l2lnk6q7ka] {
        justify-content: space-between;
    }

    .top-row a[b-l2lnk6q7ka], .top-row .btn-link[b-l2lnk6q7ka] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-l2lnk6q7ka] {
        flex-direction: row;
    }

    .sidebar[b-l2lnk6q7ka] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-l2lnk6q7ka] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-l2lnk6q7ka], article[b-l2lnk6q7ka] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/KodieLingo/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zroob06rwl] {
    background-color: rgb(56, 225, 82, 0.90);
}

.top-row[b-zroob06rwl] {
    height: 3.5rem;
    background-color: rgb(56, 225, 82, 0.90);
}

.navbar-brand[b-zroob06rwl] {
    font-size: 1.1rem;
}

.oi[b-zroob06rwl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-zroob06rwl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zroob06rwl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zroob06rwl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zroob06rwl]  a {
        color: rgb(56, 225, 82, 0.90);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-zroob06rwl]  a.active {
    background-color: rgba(56, 225, 82, 0.90);
    color: white;
}

.nav-item[b-zroob06rwl]  a:hover {
    background-color: rgb(56, 225, 82, 0.90);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zroob06rwl] {
        display: block;
    }

    .collapse[b-zroob06rwl] {
        display: block;
    }

    .empty[b-zroob06rwl]
    {
        display: none;
    }
}
