@using Model;
@using Data;
@using Services;
@using Microsoft.EntityFrameworkCore;
@inject ClientStateService ClientState;
@page "/courses"

<h3>Courses</h3>
<button type="button"><h4>Click me</h4></button>
@for (int i = 0; i < ClientState.User.Course.Count; i++)
{
    <h2>Course</h2>
}
@code {

}
