@using Model;
@using Data;
@using Services;
@using Microsoft.EntityFrameworkCore;
@inject ClientStateService ClientState;
@inject IDbContextFactory<DatabaseContext> DatabaseFactory;
@page "/courses"

<h3>Courses</h3>

@if (ClientState.User != null)
{

    @if (ClientState.User.Course.Count != 0)
    {
        @foreach (Course c in ClientState.User.Course)
        {
            <div name="Course" style="border: solid; border-radius:20px ;padding:20px;">
                <div name="Name" style="border: solid; border-radius:20px;">
                    <h2 style="padding:10px;">Course: @c.Name</h2>
                </div>
                <div name="left" style="float: left; padding:10px;">
                    <button><h3>Guidebook</h3></button>
                    <button><h3>Continue</h3></button>
                </div>
                <div name="right" style="float: right; padding: 10px;">
                    <button><h3>View full course</h3></button>
                    <button><h3>View all courses</h3></button>
                </div>
            </div>
        }

    }
    @foreach (Course c in Db.Courses.Where(b => !ClientState.User.Course.Contains(b)))
    {
        <button type="button" class="button" @onclick="AddCourse1"><h1>Add Course: @c.Name</h1></button>
    }
}
@code {
    private DatabaseContext? Db { get; set; }
    protected async override Task OnInitializedAsync()
    {
        Db ??= DatabaseFactory.CreateDbContext();
        
    }
    private async Task AddCourse1()
    {        
        ClientState.User.Course.Add(Db.Courses.First());
        await Db.SaveChangesAsync();
    }
}
