@using Services;
@using Model;
@using Data;
@using Microsoft.EntityFrameworkCore;

@inject ClientStateService ClientState;

@page "/"

@if (ClientState.User != null)
{
	<PageTitle>Index</PageTitle>

    <h1>Hello, @ClientState.User.Username!</h1>
    if (ClientState.User.Course.Count == 0)
    {
        <h3>Let's get started with a course! Here are some to get you started.</h3>
    }
else
{
<h2>Let's hop straight back into one of your courses!</h2>
@foreach (Course c in ClientState.User.Course)
    {
        <div name="Course" style="border: solid; border-radius:20px ;padding:20px;">
            <div name="Name" style="border: solid; border-radius:20px;">
                <h2 style="padding:10px;">Course: @c.Name</h2>
            </div>
            <div name="left" style="float: left; padding:10px;">
                <button><h3>Guidebook</h3></button>
                <button><h3>Continue</h3></button>
            </div>
            <div name="right" style="float: right; padding: 10px;">
                <button><h3>View full course</h3></button>
                <button><h3>View all courses</h3></button>
            </div>
        </div>
    }
}
}

@code
{

}