@page "/leaderboard"
@using Model;
@using Data;
@using Services;
@inject ClientStateService ClientState;

@if (ClientState.User != null)
{

    <h3>This Weeks's Friend Leaderboard</h3>

    <h2>@ClientState.User.Username</h2>
    @foreach (User u in ClientState.User.Friend)
    {
        <h1>Farts</h1>
        <h2>@u.Username</h2>
    }

}
@code {

}
