@page "/login"
@using Microsoft.AspNetCore.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KodieLingo</title>
    <link rel="stylesheet" href="loginprompt.cshtml.css"> 

    <style>
        /* Style for the centered text container */
        .centered-text {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            /*background-color: #f0f0f0;*/
            
        }

        /* Style for the text */
        h1 {
            color: #47DC0F;
            font-size: 6rem;
            font-family: 'Nova Flat';
        }
    </style>
</head>
<body>
    <div class = "centered-text">
        <h1>KodieLingo</h1>
    </div>
</body>
</html>
@code{
    private void Login()
    {
        ]
    }
}