@page "/loginsignup"
@layout EmptyLayout;
<PageTitle>Login/Signup</PageTitle>

@if(LoginIsActive)
{
    <Login/>
}
@if(SignupIsActive)
{
    <Signup/>
}

@if (!LoginIsActive && !SignupIsActive)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KodieLingo</title>
        <link rel="stylesheet" href="loginprompt.cshtml.css"> 
    </head>
    <body>
        <div class = "centered-text">
            <h1>KodieLingo</h1>
        </div>
        <div class="centered-text">
            <button @onclick="Login">Login</button>
            <button @onclick="Signup">Signup</button>
        </div>
    </body>
    </html>
}


@code {
    bool LoginIsActive = false, SignupIsActive = false;
    private void Login()
    {
        LoginIsActive = true;
        SignupIsActive = false;
    }
    private void Signup()
    {
        LoginIsActive = false;
        SignupIsActive = true;
    }
}
