﻿@using Model;
@using Data;
@using Services;
@using Microsoft.EntityFrameworkCore;
@inject ClientStateService ClientState;
@inject IDbContextFactory<DatabaseContext> DatabaseFactory;
@page "/courses"

<h3>Courses</h3>

@if (ClientState.User != null)
{
    <SearchBar />

    <h2>
        Current Courses:
    </h2>

    @if (ClientState.User.Course.Count == 0)
    {
        <h3>No Courses! Add some, muppet.</h3>
    }

    <CoursesScroll />

    <h2><br />All Courses:</h2>
    @foreach (Course c in Db.Courses)
    {
        <CourseSelectElement Course="c" />
    }
}
@code
{
    private DatabaseContext? Db { get; set; }
    public string SearchText = "";

    protected async override Task OnInitializedAsync()
    {
        Db ??= DatabaseFactory.CreateDbContext();
    }
    private async Task AddCourse1()
    {
        ClientState.User.Course.Add(Db.Courses.First());
        await Db.SaveChangesAsync();
    }
}
