.course-continue[b-54p96czcrl] {
    border: solid;
    border-radius: 20px;
    padding: 20px;
    color: palegreen
}

.course-new[b-54p96czcrl] {
    border: solid;
    border-radius: 20px;
    padding: 20px;
}
