body[b-yr3p6iy1k1] {
}
.centered-text[b-yr3p6iy1k1] {
    text-align: center;
    display: flex;
    justify-content: center;
}


h1[b-yr3p6iy1k1] {
    color: #47DC0F;
    font-size: 6rem;
    font-family: 'Nova Flat';
}

button[b-yr3p6iy1k1] {
    color: #47DC0F;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}