body[b-ykvca5k8sb] {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
.centered-text[b-ykvca5k8sb] {
    text-align: center;
}
h1[b-ykvca5k8sb] {
    color: green;
    font-size: 3rem;
}
