@using Model;
@using Services
@using Data;
@using Microsoft.EntityFrameworkCore;

@inject ClientStateService ClientState
@inject IDbContextFactory<DatabaseContext> ContextFactory;
@inject NavigationManager NavManager;

<h4 style="color:white; align-content:center;">@User.Username</h4>
<button class="friend-request-options-button" @onclick="CancelRequest">Cancel</button>

@code {
	[Parameter]
	public User User { get; set; }

	private DatabaseContext? db { get; set; }

	protected override async Task OnInitializedAsync()
	{
		db ??= await ContextFactory.CreateDbContextAsync();
	}

	private async Task CancelRequest()
	{
		User mainUser = db.Users.Include(x => x.FriendReqOutgoing).First(x => x.Id == ClientState.User.Id);
		User targetUser = db.Users.Include(x => x.FriendReqIncoming).First(x => x.Id == User.Id);

		mainUser.FriendReqOutgoing.Remove(targetUser);
		targetUser.FriendReqIncoming.Remove(mainUser);
		await db.SaveChangesAsync();

		ClientState.User = ClientState.GetUser(mainUser.Email);

		StateHasChanged();
	}
}
